@media only screen and (max-width: 520px){
  body{
    font-size: 1.2em;
  }
}

h1,h2,h3{
  line-height: 1.2;
  padding-top: 18px;
  margin-bottom: 10px;
  font-weight: normal;
}

body{
    margin: 60px auto;
    margin-bottom: 60px;
    margin-bottom: 160px;
    max-width: 750px;
    line-height: 1.62;
    font-family: 'Inconsolata','Consolas', monospace;
    background: #fff;
    color: #000;
    padding: 0 30px;
}

a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}
a:hover{
  padding: 4px;
  margin: -4px;
  color: #fff;
  background: #000;
  text-decoration: none;
}



@media(prefers-color-scheme: dark){
    body{
        background: #2f2f2f ;
        color: hsl(0, 0%, 80%);
    }

    a:visited {
        color: hsl(0,0%,80%);
    }

    a {
        color: hsl(0,0%,80%);
        text-decoration: none;
        border-bottom: 1px solid hsl(0,0%,80%);
    }
    a:hover{
      padding: 4px;
      margin: -4px;
      color: #0f0f0f;
      background: hsl(0,0%,75%);
      text-decoration: none;
    }

}


body::-webkit-scrollbar {
    width: 1em;
  }
  
  body::-webkit-scrollbar-thumb {
    border-right: 8px solid #ccc;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    border-right: 8px solid #aaa;
  }
  
footer {
    text-align: center;
}